.d-flex{
justify-content:space-evenly ;
}
.pic1{
    height: 70px;
    width: 100px;
    margin-top: 130px;
    
}
.button{
    background-color:rgb(65, 153, 124);
    color:white ;
}
.button2{
    display: flex;
    text-align: center;
}



