
.master{
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    margin-top: 30px;

}

.head1{
    margin-top: 0px;
    size: 200px;
    width: 900px;
    height: 300px;
}
.news-container{
    display: flex;
    flex-direction: column; /*stack items vertically */
    gap:20px; /* space between items*/
}
.news-title{
    
    font-weight: bold;
    margin-bottom: 10px;
}
.news-item{
border:1px solid #ccc;
padding: 15px;
border-radius: 5px;
width: 400px;
display: block;
background-color: black;
color: white;
}
.container-2{
    display: flex ;
    justify-content: space-between;
}
.new-container{
    display: flex;
    flex-direction: column;
    

}
h2{
    color: rgb(212, 154, 46);
}
.head2{
    width: 150px;
    height: 260px;

}
.head3{
    width: 150px;
    height: 260px;
}
.head4{
    width: 150px;
    height: 260px;
}
.container{
    display: flex;
    justify-content: ;
}
body{
    width: 70%;
    margin: auto;
}
.container-3{
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;

}
.header{
    display: flex;
    justify-content: space-between;
}
.jjj{
    display: flex;
}
.que{
    width: 400px;
    font-size: 40px;
    font-weight: bolder;
}
.kkk{
    width: 400px;
}
.number{
    color: rgb(158, 76, 76);
    size: 200px;
}
.aaaa{
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 20px;

}
.blue{
    display:flex;
}
.container-4{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    margin: 30px;
}
.blue .number{
    padding-left: 10px;
}
.blue h2{
    padding-left: 10px;
}
.blue p{
    padding-left: 10px;
}
.head h3{
    color: red;
}

    
    




